<nav class="cd-stretchy-nav">
    <a class="cd-nav-trigger" href="#0">
        Menu
        <span aria-hidden="true"></span>
    </a>

    <ul>
        <li>
            <a href="/" class="active">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/chat">
                <span>Chat</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <span>Logout</span>
            </a>
        </li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>
<ul>
    {{#each plant}}
    <li>
        <div class="section">

            <div class="col 5">
                <h2 class="header-plant"> Common Name: {{commonName}} </h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../assets/images/faviCacti.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="black-text">Scientific Name: {{scientificName}}</p>
                            <p>Watering: {{moistUse}}</p>
                            <p>Flower Color: {{flowerColor}}</p>
                            <p>Drought Tolerance: {{droughtTol}}</p>
                            <p>Toxicity: {{toxicity}}</p>
                            <p>Lifespan: {{lifeSpan}}</p>
                        </div>
                    </div>
                </div>
            </div>

    </li>
    {{/each}}
</ul>