<div class="container-plants ">
    {{!--
    <div class="row">
        <div class="col l12">
            <form>
                <input type="text" name="search" placeholder="Search for your new buddy..">
            </form>
        </div>
      </div>
    </div>
  </div> --}}

    <div id="custom-templates">
        <input class="typeahead" type="text" placeholder="Search for Plants">
    </div>

    <div class="row" id="cards">
        {{#each plant}}
        <div class="col s12 m6 l4" name="{{commonName}} {{scientificName}}">
            <div class="card small">
                <div class="card-image light-blue lighten-5" id="img-plants">
                    <img src="../assets/images/plant.png">
                    <span class="card-title pink-text accent-1-text">{{commonName}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" name="{{commonName}}">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Scientific Name: {{scientificName}}</p>
                    <p>Watering: {{moistUse}}</p>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>




<div class="search"><label>Start typing: <input type="search" id="searchInput" /></label> <button type=button id="clearSearch">Clear</button></div>
<ul id="toSearchFor">
<li>
  
   <div class="row" id="cards">
        {{#each plant}}
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image light-blue lighten-5" id="img-plants">
                    <img src="../assets/images/plant.png">
                    <span class="card-title pink-text accent-1-text">{{commonName}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" name="{{commonName}}">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Scientific Name: {{scientificName}}</p>
                    <p>Watering: {{moistUse}}</p>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>
  
  </li>
</table>
