{{!-- <div class="container-plants ">


    {{!-- <div class="row" id="searchBar">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete" >
          <label for="autocomplete-input">Search for your new buddy here...</label>
           <input id="add-plant" type="submit" value="Add a Buddy">


        </div>
      </div>
    </div>
  </div> --}}


<div class="search"><label>Start typing: <input type="search" id="searchInput" /></label> <button type=button id="clearSearch">Clear</button></div>

    <div class="row" id="cards">
        {{#each plant}}
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image light-blue lighten-5" id="img-plants">
                    <img src="../assets/images/plant.png">
                    <span class="card-title pink-text accent-1-text">{{commonName}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" name="{{commonName}}">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Scientific Name: {{scientificName}}</p>
                    <p>Watering: {{moistUse}}</p>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>
 --}}



<div class="search"><label>Start typing: <input type="search" id="searchInput" /></label> <button type=button id="clearSearch">Clear</button></div>
<ul id="toSearchFor">
<li>
  
   <div class="row" id="cards">
        {{#each plant}}
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image light-blue lighten-5" id="img-plants">
                    <img src="../assets/images/plant.png">
                    <span class="card-title pink-text accent-1-text">{{commonName}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" name="{{commonName}}">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Scientific Name: {{scientificName}}</p>
                    <p>Watering: {{moistUse}}</p>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>
  
  </li>
</table>