<div class="fixed-action-btn">
    <a class="btn-large green darken-2" href="/">
        <i class="large material-icons">home</i>
    </a>
</div>


<div class="container-plants ">
    <a href="top"></a>


    {{!--
    <div id="custom-templates">
        <input class="typeahead" type="text" placeholder="Search for Plants" id="top">
    </div> --}}

    <form autocomplete="off" action="/plants/:">
        <div class="autocomplete">
            <input class="typeahead" id="myInput" type="text" name="plant" placeholder="Search for Plants">
        </div>
        <div id="submit" class="btn green darken-2">Submit</div>
    </form>

    <div class="row" id="cards">
        {{#each plant}}
        <div class="col s12 m6 l4 whole" name="top">
            <div class="card small">

                <div class="card-image light-blue lighten-5" id="img-plants">
                    <img src="../assets/images/plant.png">
                    <span class="card-title pink-text accent-1-text">{{commonName}}</span>
                </div>

                <div class="card-content">

                    <p>Scientific Name: {{scientificName}}</p>
                    <p>Watering: {{moistUse}}</p>
                    <p>Flower Color: {{flowerColor}}</p>
                    <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" name="{{commonName}}">
                        <i class="material-icons">add</i>
                    </a>
                </div>

            </div>
        </div>
        {{/each}}
    </div>

</div>



<button id="loadMore" class="btn waves-effect waves-light green green darken-1">Load more +</button>

<button class="btn waves-effect waves-light green green darken-1 white-text"><a href="#top">Back to top</a></button>